<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Order</title>
    <%- include('../../partials/main') %>
  </head>
  <% if (typeof err === 'undefined') err = {}; %> <% if (typeof category ===
  'undefined') category = {}; %>
  <body>
    <%- include('../../partials/header') %>
    <div class="container text-center px-5">
      <div class="row align-items-start my-5">
        <%- include('../../partials/userNav', {user: user}) %>
        <div class="col-9 text-start ms-5">
          <% if(orders.length <= 0) { %>
            <p>No order here! <a class="text-center text-main text-decoration-none" href="/order/manage">Return manage order page!</a></p>
            <% } else {%>
          <h4 class="text-center fw-bold">MANAGE ORDERS</h4>
          <div class="d-flex my-2 justify-content-between align-items-center">
            <div>
              <a
                href="/book/add"
                class="btn bg-main text-decoration-none text-light"
                ><i class="fas fa-plus"></i
              ></a>
              <a
                href="/book/trash"
                class="btn bg-danger text-decoration-none text-light position-relative"
              >
                <i class="fas fa-exclamation-triangle"></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger-subtle text-danger-emphasis"
                >
                  1
                  <span class="visually-hidden">fail orders</span>
                </span>
              </a>
            </div>
            <form
              class="d-flex col-4"
              role="search"
              action="/order/manage"
              method="get"
            >
              <input
                class="form-control me-2 rounded-pill"
                name="name"
                type="search"
                placeholder="Search user here"
                aria-label="Search"
              />
              <button
                class="btn bg-main btn-outline-light rounded-circle"
                type="submit"
              >
                <i class="fas fa-magnifying-glass icon-custom"></i>
              </button>
            </form>
          </div>
         
          <table class="table table-hover">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center">User's name</th>
                <th scope="col" class="text-center">Total Price</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Paid at</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            
            <tbody> 
              <% orders.forEach(function(order) { %> <%
              order.orders.forEach(function(ord, index) { %>
              <tr>
                <td class="align-middle text-center fw-bold">
                  <%= order.user_id.name %>
                </td>
                <td class="align-middle text-center"><%= ord.total %></td>
                <td class="align-middle text-center fw-medium <%= 
                    ord.status === 'Fail' ? 'text-danger' :
                    ord.status === 'Success' ? 'text-success' :
                    'text-main'
                  %>">
                  <span><%= ord.status %></span>
                </td>            
                <td class="align-middle text-center fw-medium">
                  <%= ord.paidAt.toLocaleString() %>
                </td>

                <td
                  class="align-middle d-flex align-items-center justify-content-around"
                >
                  <p class="btn bg-main m-0">
                    <a
                      class="text-decoration-none text-light"
                      href="/order/<%= ord._id %>"
                      ><i class="fas fa-eye"></i
                    ></a>
                  </p>
                  <p
                    class="btn bg-success m-0 text-light"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal<%= ord._id %>"
                  >
                  <i class="fas fa-edit"></i
                    ></i>
                  </p>
                </td>
              </tr>
              
              <div
                class="modal fade"
                id="exampleModal<%= ord._id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Do you want to change status of this order?
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      This order's status will be changed after this action!
                      <select class="form-select form-select-sm mt-3 order-status" aria-label="Default select example">
                        <option value="Pending">Pending</option>
                        <option value="Success">Success</option>
                        <option value="Fail">Fail</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <form
                        action="/order/update/<%= order.user_id._id%>?_method=PATCH"
                        method="post"
                      >
                      <input type="hidden" name="index" value="<%= index%>">
                      <input type="hidden" name="status" class="status">
                        <button
                          class="btn bg-danger m-0 text-light update-status"
                          type="submit"
                        >
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% }) }) %>
            </tbody>
          </table>
          <%} %>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </body>
  <script>
  document.querySelectorAll('.update-status').forEach((btn) => {
    btn.addEventListener('click', () => {
      const modal = btn.closest('.modal');
      const selectedStatus = modal.querySelector('.order-status').value;
      modal.querySelector('.status').value = selectedStatus;

      // console.log('Selected status:', selectedStatus);
      // You can now use the selected status to update the order in your backend
    });
  });
</script>
</html>
