<% if(typeof title === "undefined") title ="" %>
<ul class="list-group list-group-flush mb-5">
  <h5 class="mb-3">Price</h5>
  <% if( title === "") { %>
  <li class="list-group-item border-top">
    <a
      class="text-decoration-none text-dark px-3"
      href="/book/list?page=<%= currentPage %>&to=30"
      ><30$</a
    >
  </li>
  <li class="list-group-item">
    <a
      class="text-decoration-none text-dark px-3"
      href="/book/list?page=<%= currentPage %>&from=30&to=60"
      >30-60$</a
    >
  </li>
  <li class="list-group-item">
    <a
      class="text-decoration-none text-dark px-3"
      href="/book/list?page=<%= currentPage %>&from=60"
      >>60$</a
    >
  </li>
  <%} else { %>
  <li class="list-group-item border-top">
    <a
      class="text-decoration-none text-dark px-3"
      href="/book/list?page=<%= currentPage %>&to=30&title=<%= title %>"
      ><30$</a
    >
  </li>
  <li class="list-group-item">
    <a
      class="text-decoration-none text-dark px-3"
      href="/book/list?page=<%= currentPage %>&from=30&to=60&title=<%= title %>"
      >30-60$</a
    >
  </li>
  <li class="list-group-item">
    <a
      class="text-decoration-none text-dark px-3"
      href="/book/list?page=<%= currentPage %>&from=60&title=<%= title %>"
      >>60$</a
    >
  </li>
  <%} %>
  <h5 class="my-3">Category</h5>
  <div class="overflow-auto" style="height: 300px">
    <li class="list-group-item">
      <a class="dropdown-item" href="/book/list"> All Categories </a>
    </li>
    <% categories.forEach(function(cat) { %> <% if (category && cat.id ==
    category.id) { %>
    <li class="list-group-item text-main">
      <a class="dropdown-item fw-medium" href="/category/<%=cat.id%>"
        ><%=cat.name%></a
      >
    </li>
    <% } else { %>
    <li class="list-group-item">
      <a class="dropdown-item" href="/category/<%=cat.id%>"><%=cat.name%></a>
    </li>
    <% }}); %>
  </div>
</ul>
