<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Form</title>
    <%- include('../../partials/main') %>
  </head>
  <% if (typeof err === 'undefined') err = {}; %>
  <body>
    <%- include('../../partials/header') %> <% topBooksPerCategory.forEach(cat
    => { %>
    <h3><%= cat.category %></h3>
    <% cat.books.forEach(book => { %>

    <div class="card mb-2 mx-1 col-3" style="width: 12rem; height: 16rem">
      <a href="/book/<%= book._id %>"
        ><img
          src="<%= book.image %>"
          class="card-img-top mt-2 mb-0"
          alt="Book Image"
          style="height: 12rem"
      /></a>
      <div class="card-body pb-1 mt-2" style="padding: 0px !important">
        <a href="/book/<%= book._id %>" class="text-decoration-none text-dark">
          <h5
            class="card-title fs-6 text-start fw-bold text-truncate ps-0 my-0"
          >
            <%= book.title %>
          </h5>
        </a>
        <div class="d-flex justify-content-between align-items-center">
          <p class="card-text text-main fs-6 fw-bold"><%= book.price %>$</p>
          <p style="font-size: 14px">Sold: <%= book.quantity_sold %></p>
        </div>
      </div>
    </div>
    <%}) %> <% }); %>
  </body>
</html>
