<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Detail</title>
    <%- include('../../partials/main') %>
  </head>
  <% if (typeof err === 'undefined') err = {}; %>
  <body>
    <%- include('../../partials/header') %>
    <div class="container px-5 mx-5 mt-4">
      <div class="row px-5 mx-5">
        <div class="col-5 py-3 mb-5 border">
          <img
            src="<%= book.image%>"
            alt="Book image"
            class="card-img-top"
            alt="Image book detail"
          />
        </div>
        <div class="col-7 pt-4 ps-5">
          <h5><%= book.title%></h5>
          <div class="d-flex row">
            <p class="col-6">
              Quantity sold:
              <span class="text-main fw-medium"><%= book.quantity_sold%></span>
            </p>
            <p class="col-6">
              Quantity in stock:
              <span class="text-main fw-medium"
                ><%= book.quantity_in_stock%></span
              >
            </p>
          </div>
          <div class="d-flex align-items-end">
            <h5 class="text-main">Price: <%= book.price%> $</h5>
          </div>
          <form action="/cart/add" method="post">
            <div class="form-group d-flex flex-row align-items-center">
              <input type="hidden" name="book_id" value="<%= book._id %>" />
              <input type="hidden" name="title" value="<%= book.title %>" />
              <label for="quantity">Quantity:</label>
              <div class="input-group ms-3" style="width: 8rem">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-sm"
                    type="button"
                    onclick="decrementQuantity()"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <input
                  type="number"
                  class="form-control form-control-sm border-0 text-center"
                  id="quantity"
                  name="quantity"
                  min="1"
                  value="1"
                  required
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-sm"
                    type="button"
                    onclick="incrementQuantity()"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <button class="btn btn-main-outline mt-3" type="submit">
              Add to cart
            </button>
          </form>
          <div class="d-flex row mt-4">
            <h3>Book Detail</h3>
            <hr />
            <p class="col-6">
              Author:
              <span class="text-main fw-medium"><%= book.author %></span>
            </p>
            <p class="col-6">
              Publisher:
              <span class="text-main fw-medium"><%= book.publisher %></span>
            </p>
            <p class="col-6">
              ISBN: <span class="text-main fw-medium"><%= book.isbn %></span>
            </p>
            <p class="col-6">
              Category:
              <span class="text-main fw-medium"> <%= book.cat_id.name %></span>
            </p>
            <p class="col-6">
              Quantity sold:
              <span class="text-main fw-medium"><%= book.quantity_sold%></span>
            </p>
            <p class="col-6">
              Quantity in stock:
              <span class="text-main fw-medium"
                ><%= book.quantity_in_stock%></span
              >
            </p>
            <p>
              Book Description:
              <span class="text-main fw-medium"><%=book.description %></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </body>
  <script>
    function decrementQuantity() {
      let quantityInput = document.getElementById("quantity");
      let currentValue = parseInt(quantityInput.value);
      if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
      }
    }

    function incrementQuantity() {
      let quantityInput = document.getElementById("quantity");
      let currentValue = parseInt(quantityInput.value);
      quantityInput.value = currentValue + 1;
    }
  </script>
</html>
