<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Book</title>
    <%- include('../../partials/main') %>
  </head>
  <% if (typeof err === 'undefined') err = {}; %> <% if (typeof category ===
  'undefined') category = {}; %>

  <body>
    <%- include('../../partials/header') %>
    <div class="container text-center px-5">
      <div class="row align-items-start my-5">
        <%- include('../../partials/userNav', {user: user}) %>
        <div class="col-9 text-start ms-5">
          <h4 class="text-center fw-bold">MANAGE PRODUCTS</h4>
          <div class="d-flex my-2 justify-content-between align-items-center">
            <div>
              <a
                href="/book/add"
                class="btn bg-main text-decoration-none text-light"
                ><i class="fas fa-plus"></i
              ></a>
              <a
                href="/book/trash"
                class="btn bg-danger text-decoration-none text-light position-relative"
              >
                <i class="fas fa-trash-alt"></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger-subtle text-danger-emphasis"
                >
                  <%= trashNum %>
                  <span class="visually-hidden">deleted books</span>
                </span>
              </a>
            </div>
            <form
              class="d-flex col-4"
              role="search"
              action="/book/manage"
              method="get"
            >
              <input
                class="form-control me-2 rounded-pill"
                name="title"
                type="search"
                placeholder="Search books here"
                aria-label="Search"
              />
              <button
                class="btn bg-main btn-outline-light rounded-circle"
                type="submit"
              >
                <i class="fas fa-magnifying-glass icon-custom"></i>
              </button>
            </form>
          </div>
          <table class="table table-hover">
            <thead>
              <tr class="table-primary">
                <th scope="col" class="text-center">Title</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Stock</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <% books.forEach(function(book) { %>
              <tr>
                <td class="align-middle text-center fw-bold">
                  <a
                    href="/book/<%= book._id %>"
                    class="align-middle text-decoration-none text-dark d-inline-block text-truncate"
                    style="max-width: 320px"
                    ><%= book.title %></a
                  >
                </td>
                <% if(book.quantity_in_stock <= 15) {%>
                <td class="align-middle text-center fw-medium text-danger">
                  <span>Sold out</span>
                </td>
                <% } else { %>
                <td class="align-middle text-center fw-medium text-main">
                  <span>Available</span>
                </td>
                <% } %>
                <td class="align-middle text-center"><%= book.price %></td>
                <% if(book.quantity_in_stock >=15) { %>
                <td class="align-middle text-center">
                  <%= book.quantity_in_stock %>
                </td>
                <% } else{ %>
                <td class="align-middle text-center text-danger fw-medium">
                  <%= book.quantity_in_stock %>
                </td>
                <% } %>
                <td
                  class="align-middle d-flex align-items-center justify-content-around"
                >
                  <p class="btn bg-main m-0">
                    <a
                      class="text-decoration-none text-light"
                      href="/book/update/<%= book._id %>"
                      ><i class="fas fa-edit"></i
                    ></a>
                  </p>
                  <p
                    class="btn bg-danger m-0 text-light"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal<%= book._id %>"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </p>
                </td>
              </tr>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal<%= book._id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Do you want to delete this book?
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      This book will removed from this list, then moved to trash
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <form
                        action="/book/delete/<%= book._id %>?_method=DELETE"
                        method="post"
                      >
                        <button
                          class="btn bg-danger m-0 text-light"
                          type="submit"
                        >
                          Delete
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <%}) %>
            </tbody>
          </table>
          <% if (totalPages > 1) { %>
          <nav aria-label="Page navigation" class="mb-5">
            <ul class="pagination justify-content-center mt-4">
              <li
                class="<%= currentPage == 1 ? 'page-item disabled' : 'page-item' %>"
              >
                <a
                  class="page-link"
                  href="/book/manage?page=1&title=<%= title %>"
                  ><i class="fas fa-angle-double-left"></i
                ></a>
              </li>
              <li
                class="<%= currentPage == 1 ? 'page-item disabled' : 'page-item' %>"
              >
                <a
                  class="page-link"
                  href="/book/manage?page=<%= currentPage-1 %>&title=<%= title %>"
                  ><i class="fas fa-chevron-left"></i
                ></a>
              </li>
              <% for (let pageNum = 1; pageNum <= totalPages; pageNum++) { %>
              <li
                class="<%= pageNum == currentPage ? 'page-item active bg-main' : 'page-item' %>"
              >
                <a
                  class="page-link"
                  href="/book/manage?page=<%= pageNum %>&title=<%= title %>"
                  ><%= pageNum %></a
                >
              </li>
              <% } %>
              <li
                class="<%= currentPage == totalPages ? 'page-item disabled' : 'page-item' %>"
              >
                <a
                  class="page-link"
                  href="/book/manage?page=<%= currentPage+1 %>&title=<%= title %>"
                  ><i class="fas fa-chevron-right"></i
                ></a>
              </li>
              <li
                class="<%= currentPage == totalPages ? 'page-item disabled' : 'page-item' %>"
              >
                <a
                  class="page-link"
                  href="/book/manage?page=<%= totalPages %>&title=<%= title %>"
                  ><i class="fas fa-angle-double-right"></i
                ></a>
              </li>
            </ul>
          </nav>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </body>
</html>
