<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new announcement</title>
    <%- include('../../partials/main') %>
  </head>
  <% if(typeof user === 'undefined') user = {} %> <% if(typeof announcements ===
  'undefined') announcements = {} %><% if(typeof err === 'undefined') err = {}
  %>
  <body>
    <%- include('../../partials/header') %>
    <div class="container text-center px-5 mt-4">
      <h2>New announcement</h2>
      <form
        method="post"
        action="/announcement/upload"
        enctype="multipart/form-data"
      >
        <div class="row mb-3">
          <div class="col-sm-10">
            <input
              class="form-control"
              type="text"
              id="createdBy"
              name="createdBy"
              value="<%= user.name %>"
              hidden
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="title" class="col-sm-3 col-form-label"
            >Announcement title</label
          >
          <div class="col-sm-9">
            <input
              class="form-control"
              type="text"
              id="title"
              name="title"
              placeholder="Announcement title"
              required
            />
            <p
              class="text-start text-danger fst-italic"
              style="font-size: 14px"
            >
              <%= err.title %>
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <label for="body" class="col-sm-3 col-form-label"
            >Announcement body</label
          >
          <div class="col-sm-9">
            <textarea
              class="form-control"
              id="body"
              name="body"
              placeholder="Announcement body"
              required
            ></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <label for="topicFile" class="col-sm-3 col-form-label">File</label>
          <div class="col-sm-9">
            <input
              class="form-control"
              type="file"
              id="topicFile"
              name="topicFile"
              multiple
            />
          </div>
        </div>
        <div class="row">
          <div class="d-flex col-sm-3 offset-sm-3">
            <input
              class="btn bg-main me-2 text-light"
              type="submit"
              value="Post"
            />
            <a
              class="btn btn-secondary text-decoration-none"
              href="/announcement/list"
              >Cancel</a
            >
          </div>
        </div>
      </form>
    </div>
    <%- include('../../partials/footer') %>
  </body>
</html>
